.tag {
  display: flex;
  background-color: #ffffff;
  border-radius: 244px;
  max-width: 12.1rem;
  padding: 4px 12px 4px 4px;
}

.tag .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.6rem;
  height: 2.6rem;
  background-color: rgba(194, 0, 0, 0.12);
  border-radius: 50%;
  margin-right: 5px;
}

.tag span {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 150%;
  color: #c20001;
}

.tag-blue .icon {
  background-color: rgba(63, 104, 186, 0.15);
}

.tag-blue span {
  color: #3f67ba;
}

/* SEARCH */
.search {
  background-color: #ffffff;
  border-radius: 122px;
  width: 100%;
  max-width: 40.3rem;
  height: 5.6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 2.5rem;
  padding-right: 0.7rem;
}
.search input[type="text"] {
  border: 0;
  outline: none;
  width: 80%;
  font-size: 1.5rem;
  line-height: 150%;
  color: #a0afba;
}

.search input::placeholder {
  color: #a0afba;
}

.search button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4.2rem;
  height: 4.2rem;
  background-color: rgba(158, 185, 255, 0.1);
  border-radius: 50%;
  border: 1px solid transparent;
  transition: border-color 0.3s;
}

.search button:hover {
  border-color: #3e75c3;
}

.type-filter {
  display: flex;
  align-items: center;
  filter: grayscale(100%);
  opacity: 0.6;
  transition: all 0.3s;
}

.type-filter:hover {
  filter: grayscale(0%);
  opacity: 1;
}

.type-filter .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.8rem;
  height: 2.8rem;
  margin-right: 1rem;
}

.type-filter span {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 150%;
}

.type-filter.bug span {
  color: var(--type-bug);
}

.type-filter.dark span {
  color: var(--type-dark);
}

.type-filter.dragon span {
  color: var(--type-dragon);
}

.type-filter.electric span {
  color: var(--type-electric);
}

.type-filter.fairy span {
  color: var(--type-fairy);
}

.type-filter.fighting span {
  color: var(--type-fighting);
}

.type-filter.ground span {
  color: var(--type-ground);
}

.type-filter.ice span {
  color: var(--type-ice);
}

.type-filter.normal span {
  color: var(--type-normal);
}

.type-filter.poison span {
  color: var(--type-poison);
}

.type-filter.psychic span {
  color: var(--type-psychic);
}

.type-filter.rock span {
  color: var(--type-rock);
}

.type-filter.ghost span {
  color: var(--type-ghost);
}

.type-filter.grass span {
  color: var(--type-grass);
}

.type-filter.steal span {
  color: var(--type-steal);
}

.type-filter.water span {
  color: var(--type-water);
}

.type-filter.fire span {
  color: var(--type-fire);
}

.type-filter.flying span {
  color: var(--type-flying);
}

/* CARDS */
.card-pokemon {
  position: relative;
  width: 100%;
  max-width: 28rem;
  height: 30.4rem;
  background-color: #ffffff;
  box-shadow: 0px 10px 51px -5px rgba(183, 189, 193, 0.3);
  border-radius: 12px;
  z-index: 1;
  transition: all 0.3s;
}

.card-pokemon:hover {
  transform: scale(1.02);
  box-shadow: 0px 12px 40px -5px rgba(90, 96, 100, 0.3);
}

.bug .image::after {
  background-color: rgb(155, 186, 72, 0.2);
}

.dark .image::after {
  background-color: rgb(89, 87, 97, 0.2);
}

.dark .image::after {
  background-color: rgb(89, 87, 97, 0.2);
}

.dragon .image::after {
  background-color: rgb(44, 106, 193, 0.2);
}

.electric .image::after {
  background-color: rgb(238, 217, 103, 0.2);
}

.fairy .image::after {
  background-color: rgb(226, 150, 225, 0.2);
}

.fighting .image::after {
  background-color: rgb(196, 77, 97, 0.2);
}

.ground .image::after {
  background-color: rgb(206, 128, 86, 0.2);
}

.ice .image::after {
  background-color: rgb(139, 206, 193, 0.2);
}

.normal .image::after {
  background-color: rgb(160, 162, 159, 0.2);
}

.poison .image::after {
  background-color: rgb(172, 106, 202, 0.2);
}

.psychic .image::after {
  background-color: rgb(235, 139, 133, 0.2);
}

.rock .image::after {
  background-color: rgb(139, 206, 193, 0.2);
}

.ghost .image::after {
  background-color: rgb(97, 110, 183, 0.2);
}

.grass .image::after {
  background-color: rgb(92, 164, 138, 0.2);
}

.steal .image::after {
  background-color: rgb(101, 148, 161, 0.2);
}

.water .image::after {
  background-color: rgb(136, 163, 212, 0.2);
}

.fire .image::after {
  background-color: rgb(233, 99, 3, 0.2);
}

.flying .image::after {
  background-color: rgb(166, 187, 232, 0.2);
}

.card-pokemon .image {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  margin-bottom: 1.4rem;
}

.card-pokemon .image::after {
  content: "";
  width: 16.5rem;
  height: 16.5rem;
  position: absolute;
  border-radius: 50%;
  z-index: -1;
}

.card-pokemon .info {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0 2.8rem;
}

.card-pokemon .info .text span {
  display: block;
  text-align: left;
  font-weight: 500;
  font-size: 1.3rem;
  line-height: 150%;
  margin-bottom: 6px;
  color: #7a7d80;
}

.card-pokemon .info .icon {
  margin-bottom: 1rem;
}

/* TAG TYPE */
.tag-type {
  display: inline-block;
  padding: 0 2.5rem;
  line-height: 2.4rem;
  border-radius: 2px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.3rem;
  text-align: center;
  letter-spacing: -0.01em;
}

.tag-type.bug {
  color: var(--type-bug);
  background-color: rgb(155, 186, 72, 0.2);
}

.tag-type.dark {
  color: var(--type-dark);
  background-color: rgb(89, 87, 97, 0.2);
}

.tag-type.dragon {
  color: var(--type-dragon);
  background-color: rgb(44, 106, 193, 0.2);
}

.tag-type.electric {
  color: var(--type-electric);
  background-color: rgb(238, 217, 103, 0.2);
}

.tag-type.fairy {
  color: var(--type-fairy);
  background-color: rgb(226, 150, 225, 0.2);
}

.tag-type.fighting {
  color: var(--type-fighting);
  background-color: rgb(196, 77, 97, 0.2);
}

.tag-type.ground {
  color: var(--type-ground);
  background-color: rgb(206, 128, 86, 0.2);
}

.tag-type.ice {
  color: var(--type-ice);
  background-color: rgb(139, 206, 193, 0.2);
}

.tag-type.normal {
  color: var(--type-normal);
  background-color: rgb(160, 162, 159, 0.2);
}

.tag-type.poison {
  color: var(--type-poison);
  background-color: rgb(172, 106, 202, 0.2);
}

.tag-type.psychic {
  color: var(--type-psychic);
  background-color: rgb(235, 139, 133, 0.2);
}

.tag-type.rock {
  color: var(--type-rock);
  background-color: rgb(139, 206, 193, 0.2);
}

.tag-type.ghost {
  color: var(--type-ghost);
  background-color: rgb(97, 110, 183, 0.2);
}

.tag-type.grass {
  color: var(--type-grass);
  background-color: rgb(92, 164, 138, 0.2);
}

.tag-type.steal {
  color: var(--type-steal);
  background-color: rgb(101, 148, 161, 0.2);
}

.tag-type.water {
  color: var(--type-water);
  background-color: rgb(136, 163, 212, 0.2);
}

.tag-type.fire {
  color: var(--type-fire);
  background-color: rgb(233, 99, 3, 0.2);
}

.tag-type.flying {
  color: var(--type-flying);
  background-color: rgb(166, 187, 232, 0.2);
}

/* BUTTON LOAD MORE */
.btn-load-more {
  background-color: rgba(63, 93, 179, 0.1);
  border-radius: 6px;
  padding: 1.4rem 2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1.7rem;
  letter-spacing: -0.01em;
  color: var(--blue-primary);
  transition: all 0.3s;
}

.btn-load-more:hover {
  background-color: var(--blue-primary);
  color: #ffffff;
}

/* MODAL  */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2022;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
}

.modal[typePokemonModal="grass"] .box .left-container {
  background-image: url("../assets/img/bg-types/grass.svg");
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-color: rba(0, 0, 0, 0.5);
}

.box {
  display: flex;
  position: relative;
  width: 100%;
  max-width: 71rem;
  height: 50.8rem;
  background-color: #ffffff;
  z-index: 1;
  box-shadow: 0px 10px 40px rgba(13, 12, 71, 0.05);
  border-radius: 16px;
  transform: translateY(4rem);
  transition: transform 0.3s ease-in;
}

.box .close {
  position: absolute;
  top: -4.4rem;
  right: 0;
  width: 3.6rem;
  height: 3.6rem;
  background: #ffffff;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left-container {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 19.1rem;
  background-repeat: no-repeat;
  background-position: center center;
}

.left-container .icon {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 2rem;
  right: 2rem;
  width: 3.4rem;
  height: 3.4rem;
  background-color: #ffffff;
  border-radius: 50%;
}

.left-container .image {
  position: absolute;
  left: 1.4rem;
  bottom: 13.1rem;
  width: 20.2rem;
}

.left-container .image img {
  width: 100%;
}

.right-container {
  padding: 3.5rem 7.2rem 2.9rem 7.4rem;
}

.right-container .name {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.right-container .name h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 2.8rem;
  line-height: 3.4rem;
  letter-spacing: -0.01em;
  color: #2f3133;
}

.right-container .name span {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  line-height: 2rem;
  letter-spacing: -0.01em;
  margin-left: 10px;
  color: #7a7d80;
}

.right-container .type {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 3.2rem;
  column-gap: 1rem;
}

.right-container .info {
  display: flex;
  align-items: flex-start;
  margin-bottom: 3.2rem;
  column-gap: 4.8rem;
}

.right-container .info li span {
  display: block;
  font-size: 1.3rem;
  line-height: 1.6rem;
  letter-spacing: -0.01em;
  color: #7a7d80;
  margin-bottom: 0.4rem;
}

.right-container .info li strong {
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1.7rem;
  letter-spacing: -0.01em;
  color: #2f3133;
}

.right-container .weak {
  margin-bottom: 3.2rem;
}

.right-container .weak h4 {
  font-weight: 600;
  font-size: 1.3rem;
  line-height: 1.6rem;
  letter-spacing: -0.01em;
  margin-bottom: 1.6rem;
  color: #4d5053;
}

.right-container .weak ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  column-gap: 1rem;
}

.right-container .stats h5 {
  font-weight: 600;
  font-size: 1.3rem;
  line-height: 1.6rem;
  letter-spacing: -0.01em;
  margin-bottom: 1.6rem;
  color: #4d5053;
}

.right-container .item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.right-container .item:not(:last-child) {
  margin-bottom: 1.3rem;
}

.right-container .item span {
  display: block;
  width: 6.8rem;
  font-size: 1.2rem;
  line-height: 1.5rem;
  color: #7a7d80;
}

.right-container .bar-status {
  position: relative;
  width: 100%;
  max-width: 28.3rem;
  height: 3px;
  background-color: #eff3f6;
}

.right-container .bar-status .bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 56%;
  height: 100%;
  z-index: 0;
  background-color: #c20001;
}

.right-container .separator {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.right-container .separator li {
  width: 4px;
  height: 3px;
  background-color: #ffffff;
}

.right-container .separator li:not(:first-child) {
  margin-left: 5.4rem;
}

/* OPEN MODAL  */
.open-modal .modal {
  opacity: 1;
  pointer-events: all;
}

.open-modal .modal .box {
  transform: translateY(0);
}
